body{
  font-family: "Avenir Next", Arial, sans-serif;
  color: #EEEBE9;
  background-color: #2D2D2C;
}

.countElement {
  float: left;
  width: 200px;
  font-size: 120px;
  text-align: center;
}

.countElement .footer {
  font-size: 14px;
  margin-top: -20px;
}

.reset {
  clear: both;
}

#c {
  margin: auto;
  margin-top: 15vh;
  width:600px;
}
